<b>Firewall Audit Results</b>
<br/>
{{ html_table }}
<br/>
Please download and review the detailed results <a href="{{ s3_url }}">here</a>.
<br/>
<br/>
This link will be available for 12 hours from the time of this message.  Once the link expires, the report can be downloaded
from the S3 bucket "sophos-firewall-audit" in the IT-GIS-NETWORK-PROD AWS account.   